keras
matplotlib
numpy
gym
opencv-python
pandas
tensorflow-gpu
tensorflow
pyyaml
IPython
scipy
psutil
thop
pygame
sklearn
h5py
fer
termcolor

--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision 
torchaudio 